root = true



[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.{js,ts,jsx,tsx}]
quote_type = single

[*.{json,yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.py]
indent_size = 4

[*.{html,css}]
indent_size = 2
